

@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital@1&display=swap');

/*propiedades globales*/

html{
	box-sizing: border-box;
	font-size: 62.5%;
}

*, *::before, *::after{
	box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
	line-height: 1.6;
}

/*EL ENCABEZADO DE LA PAGINA*/
header{
	background-color: #212121;
	min-height: 80px;
	padding-top: 15px;
	overflow: hidden;
	border-bottom:#B7905A 3px solid;
}

.contenedor-flex-1{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: auto;
}

.contenedor-flex-1 ul{
	display:flex;
	justify-content: end;
	align-items: center;

}
.contenedor-flex-1 li{
	list-style-type: none;
	padding-right: 20px;
}
.contenedor-flex-1 li a{
	text-decoration: none;
	color: white;	
	font:bold 1.7em Helvetica, Arial, sans-serif;

}

 

/*banner*/
#banner{
	min-height: 500px;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	background: url('../img/computador17.jpg');
}
 #banner h1{
 	font-size: 4.5em;
 	color: white;
 	font-weight: normal;
 	margin-top: 0;
 	margin-bottom: 10px;
 	padding-top: 80px;
 	transform: scale(1, 1.1);

 }

 /*selector de clase dentro del banner en el contenedor div*/
  .ancho-contenido-banner{
  	width: 90%;
  	margin:auto;
  	overflow: hidden;

  }

  .ancho-contenido-banner p{
  	color:white;
  	font-size: 1.6em;
  }

  .cuota{
  	background-color: #212121;
  	min-height: 120px;
    padding: 15px;
	color:white;
	font-style: italic;
	font-family: Palatino, Georgia, serif;
	display:flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	/*border-top:#B7905A 3px solid;*/
  text-align: center;

  }
  .cuota span{
  	font-size: 2.0em;
  	padding-right: 20px;
  }

  .cuota a{
  	text-decoration: none;
  	font-family: Helvetica, Arial, sans-serif;
  	color:white;
  	font-size: 1.6em;
  	background-color: #B7905A;
  	border-radius: 16px;
  	padding: 5px 12px 5px 12px;

  }

  /*SERVICIOS*/

  .contenedor-flex-2{
  	display:flex;
  	justify-content: center;

  }

  .contenedor-flex-2 div{
  	text-align: center;
  	font-size: 1.6em;
  	font-family: Helvetica, Arial, sans-serif;
  	padding:20px;
  	margin:10px;
  }

  footer{
  	text-align: center;
  	font-size: 1.7em;
  	border-top:#B7905A 3px solid;
  	min-height: 80px;
  	padding-top: 25px;
  }

  /*nosotros*/

  .seccion-nosotros-1{
  	text-align:center;
  	width:90%;
  	background-color: #B7905A;
  	margin: 4% auto 4% auto;
  	padding:3% 0 3% 0;

  }

  .seccion-nosotros-1 span{
  	color:white;
  	font-size: 30px;
  	border:white 3px solid;
  	padding:5px 10px 5px 10px;

  }

  .seccion-nosotros-2 {
  	text-align: center;
  	width: 90%
  	margin: 4% auto 4% auto;
  }

  .seccion-nosotros-2 span{
  	 font-size: 30px;
  	 font-style: italic;
  	 font-family: Palatino, Georgia, serif;

  }

  .grid{
  	width:90%;
  	margin:auto;
  	font-family: Helvetica, arial, sans-serif;	
  	display: grid;
  	grid-gap:1em;
  	grid-template-rows: auto;
  	grid-template-columns: 60% 40%;
  	grid-template-areas: 
  	"valores equipo"
  	"mision equipo "
  	"vision equipo";

  }

  .valores{
  	grid-area:valores;
  }

  .valores li{
  	list-style-type:none;
  	font-size: 1.6em;
  }

  .mision{
  	grid-area:mision;
  }

  .vision{
  	grid-area:vision;
  }

  .equipo{
  	grid-area:equipo;
  	background: url('../img/computador5.jpg');
  	/*width: 100px; height: 800px;*/
  	margin-bottom: 10px;
  	margin-top: 10px;
  	/*margin:10px 10px;*/
  }
   .grid p{
   	padding: 10px;
   	font-size: 1.6em;
   }

   .grid h2{
   	font-size: 2.5em;

   }

   .grid h2::before{
   	content:  "\2022";
   	color: #B7905A;
   	font-size: 32px;
    padding-right:10px; 
   }

   .espacio-nosotros{
    margin-bottom: 5%;
   }

   /*contacto*/

   /*formulario*/
   .contenedor-formulario{
    width: 40%;
    margin:auto;
    overflow: hidden;
    background-color: #212121;
    padding-top: 20px;
    /*margin-bottom: 5%;*/
   }

   .contenedor-formulario h3{
      color:white;
      font-size: 1.6em;
      font-weight: lighter;
      font-family: Helvetica, Arial, sans-serif;
      text-align: center;
   }

   .formulario{

    text-align: center;    
   }

   .formulario > div{
    padding-bottom: 20px;
   }

   .formulario input, textarea{
    font-size: 1.5em;
    width: 80%;
    font-family: Helvetica, Arail, Sans serif;
   }

   .boton{

    color:white;
    background-color: #B7905A;
    border:none;
    border-radius: 15px;
    font-size: 2.0em;
    cursor:pointer;
    padding: 5px 50px;
    margin-bottom:10px; 

   }

   .espacio-seccion{
    min-height: 65vh;
    margin-bottom: 7%;

   }

   .contenedor-flex-1 ul a:hover{
    color:#B7905A;
   }

   /*Media queries*/

   @media(max-width: 768px){
    .contenedor-flex-1{
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .contenedor-flex-2{
      flex-wrap: wrap;
    }
    .equipo{
      display:none;
    }
    .grid{
    width:90%;     
    display: grid;
    grid-gap:1em;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-template-areas: 
    "valores"
    "mision "
    "vision ";

   }
   .contenedor-formulario{
    width: 65%;
   }
   .boton{
    font-size: 1.5em;
    padding: 5px 30px;
   }
 }






  





