*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Pacifico', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
    }

body{
	font-family: georgia, times, serif; 
	color: #333;
	font-size: 1.2rem;
	line-height: 1.6em;
	margin: 0;
	/*background: #000000;*/
}



.contenedor{
	padding: 60px 0;    
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

.titulo{
	color: #642a73;
	font-size: 30px;
	text-align: center;
	margin-bottom: 60px;
    font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
}




h1{
font-size: 2rem;
line-height: 1.3em;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;

}

p{
	margin-bottom: 1.3em;
}
.container{
	width: 85%;
	max-width: 850px;
	margin: 0 auto;
}
/*.header{
	 background:rgba(255,255,255,0.5);
	padding: 2rem 0;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}*/
.header a{
	color: white;
	text-decoration: none;
}

header{
	width: 100%;
	height: 600px;
	background: #2980b9;  /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, hsla(169,100%,100%,0.3), hsla(169,100%,95%,0.3)), url(../img/computador11.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

/*nav{
	text-align:right;
	padding: 30px 0px 0 0;

}*/
.content-father{
    width: 215px;    
    perspective: 1000px;
    position: relative;
    margin-top: 50px;
    margin-left:18.3em;
    align-content: center;   
 
}

.content-hijo{
    width: 100%;
    position:relative;
    animation:   rotar 15s infinite linear;  
    transform-style: preserve-3d;
    height: 7em;
    
}
.content-hijo:hover{
    animation-play-state: paused;
    cursor:pointer;
}

.content-hijo figure{
    width: 100%;
    height: 120px;    
    overflow: hidden;
    position:absolute;
    box-shadow: 0px 0px 18px 0px black;   
    transition: all 300ms;   
    
    
}

.content-hijo figure:hover{
    /*box-shadow: 0px 0px 0px 0px black;*/
    transition: all 300ms;
     box-shadow: 0px 0px 0px 0px black;   
    
}


.content-hijo figure:nth-child(1){transform: rotateY(0deg)translateZ(300px);}

.content-hijo figure:nth-child(2){transform: rotateY(40deg)translateZ(300px);}

.content-hijo figure:nth-child(3){transform: rotateY(80deg)translateZ(300px);}

.content-hijo figure:nth-child(4){transform: rotateY(120deg)translateZ(300px);}

.content-hijo figure:nth-child(5){transform: rotateY(160deg)translateZ(300px);}

.content-hijo figure:nth-child(6){transform: rotateY(200deg)translateZ(300px);}

.content-hijo figure:nth-child(7){transform: rotateY(240deg)translateZ(300px);}

.content-hijo figure:nth-child(8){transform: rotateY(280deg)translateZ(300px);}

.content-hijo figure:nth-child(9){transform: rotateY(320deg)translateZ(300px);}

.content-hijo figure:nth-child(10){transform: rotateY(360deg)translateZ(300px);}

.content-hijo figure:nth-child(11){transform: rotateY(360deg)translateZ(300px);}


.content-hijo img{
    width: 90%;
     transition: all 300ms;
    
}

.content-hijo img:hover{
  transform: scale(1.2); 
    transition: all 280ms;
}
@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
       transform: rotatey(360deg); 
    }
}


/*header{
	background: #2980B9;  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, hsla(340, 95%, 50%, 0.671), hsla(317, 95%, 50%, 0.671)), url(../img/computador14.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	color: #333;
     
}

.LOGO{
	letter-spacing: 5px;
	font-size: 1.5em;
	color: #333;
	text-decoration: none;
  font-family: 'Pacifico', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding: 3px 85px;
   
	
}

/*.menu-icon{
	display: none;

}*/

.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*width: 75%;*/
  margin:left 5px;

  }

.navigation ul{
	
  display:flex;
  justify-content: end;
  align-items: center;  
  padding: 10px 85px;
}

.navigation li{
	list-style-type: none;
  padding-right: 2px;
}

.navigation li a{
	display:block;
	padding: 0.5rem 1rem;
	transition: all 0.4s linear;
	border-radius: 7px;
  font:bold 1.7em Helvetica, Arial, sans-serif;
	font-family: georgia, times, serif;
	font-size: 1.1em;
	color: #FFFCFC;
	text-decoration: none;
}


  .navigation li a:hover{
        background: #44f28f;
    }

  
   	/*.main{
	padding: top: 12rem;
        

   	}*/

   	header .textos-header{
   		display: flex;
   		height: 440px;
   		width: 100%;
   		align-items: center;
   		justify-content: center;
   		flex-direction:column-reverse;        
   	}

   	.textos-header h1{
   		font-size: 65px;
   		color: #fff;
        font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
   	}

   	.textos-header h2{
   		font-size: 40px;
   		font-weight: 320;
   		color: #fff;
        font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
}
   	}

   	.wave{
   		position: absolute;
   		bottom: 0;
   		width: 100%;
   	}

   	.contenedor sobre-nosotros{
   		display: flex;
   		justify-content:space-around;
   		margin-left: 170px;
   		display: flex;
   		text-align: right 
            
   	}

   	.imagen-about-us{
   		width: 48%;
   	}

    .sobre-nosotros .contenido-textos{
   	width: 80%; 
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;

   	}

    
   	.contenido-textos h2{
   		margin-bottom: 15px;
   	}

   	.contenido-textos h2 span{
   		background:#4d0686;
   		color: #fff;
   		border-radius: 30%;
   		display:inline-block;
   		text-align: center;
   		width: 30px;
   		height: 30px;
   		padding: 2px;
   		box-shadow: 0 0 6px 0 rgba(0,0,0, .5);
   		margin-right: 5px;
   		float:left;

   	}

   	.contenido-textos p{
   		padding: 0px 0px 30px 15px;
   		font-weight: 300;
   		text-align: justify;
   		

   	}

   	.portafolio{
   		background: #dfdfdf; 
        font-family: 'Roboto', sans-serif;
        font-family: 'Yanone Kaffeesatz', sans-serif;
   	}
   	.galeria-port{
   		display: flex;
   		justify-content: sp250-around;
   		flex-wrap: wrap;
        
   	}

   	.imagen-port{
   		width: 24%;
   		margin-bottom: 10px;
   		height: 280px;
   		overflow: hidden;
   		position: relative;
   		cursor: pointer;
   		box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
   	}

   	.imagen-port > img{
   		width: 120%;
   		height: 100%;
   		object-fit: conver;
   		display: block;
   	}

   	.hover-galeria{
   		position: absolute;
   		width: 100%;
   		height: 100%;
   		top: 0;
   		transform: scale(0);
   		background: hsla(430,91%,27%,0.7);
   		transition: all 0.4s linear;
   		display: flex;
   		justify-content: center;
   		align-items: center;
   		flex-direction: column;
   	}

   	.hover-galeria img{
   		width: 50px;   	
   	}

   	.hover-galeria p{
   		color: #fff;
   	}

   	.imagen-port:hover .hover-galeria{
   		transform: scale(1);
   	}
/*CLIENTES*/
/*.cards{
    display:flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    
}

.cards .card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    float: left;
    padding: 9px;    

}

.cards .card > .contenido-texto-card{
    
    text-align-last: center;
    padding-left: 0.5rem;
       
}*/


/*our team*/

.about-services{
    background-color: rgba(10, 0, 0, .1);; 
    padding-bottom: 10px;    
    font-family: 'Roboto', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
    
}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.servicio-ind h3{
  margin: 10px 0;  
}

.servicio-ind p{
    font-weight: 300px;
    text-align: justify;
    
}

    footer{
    	background: #414141;
    	padding: 60px 0 30px 0;
    	text-align: center;
    	margin:auto;
        overflow: hidden;
          font-family: 'Roboto', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
    }

.contenedor-footer{
    
    display:flex;
    width: 90%;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc; 
}

.content-foo h4{
  color: aliceblue;
  border-bottom: 3px solid #fff;  
}

.content-foo p{
    color: #ccc;    
}
.content-foo h2{
   color: #ccc;   
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

    @media (max-width: 768px){

  	.menu-icon{
  		display: block;
  		cursor: pointer;
  		padding: 0.5rem 1rem;

       	}      
    
    
     .appWhatsapp{
    position: fixed;
    right: 18px;
    bottom: 10px;
    width: 70px;
    z-index: 1000; 
    
    
    }

    .appWhatsapp img{
    width: 100%;
    height: auto;
    padding: 8px;
    background: rgba(0,0,0,0.10);
    cursor:pointer;
    border-radius: 120%;
    transition: all 300ms;
        
}
.appWhatsapp img{
    background: rgba(0,0,0,0.10);
}




    @media (max-width: 768px){
        /*nav{
            text-align: center;
            padding: 30px
        }
        nav a{
            margin-right: 5px;
        }
        
        .textos-header h1{
           font-size: 35px; 
        }
        .textos-header h2{
            font-size: 20px;
        }
        
        /*ABOUT us*/

      .navigation{
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }



        .imagen-about-us{
        margin-bottom: 60px;  
        width: 99%; 
        }
        
        .sobre-nosotros .contenido-textos{
            width: 95%;
            
        }        
          /*GALERIA*/
        .imagen-port{
        width: 95%;        
        } 
        
        /*Clients*/
        
        /*.cards .card{
            height: 450px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        
        .cards .card img{
            width: 90px;
            height: 90px;            
           
        }*/        
        
         header{
            background-position: center;
        }
        
        .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;            
            
        } 
        
        .sobre-nosotros .contenido-textos{
            width: 95%;
            
        }
        .imagen-about-us{
            width: 95%;
        }
        
        /*galeria*/
        .imagen-port{
            width:44;
        }
        
        /*clientes*/
        .content-father{
            /*flex-direction: column;*/
            justify-content: center;
            align-items: center;
            margin-left:1.5em;
            height: 6.5em;           
            
        }
        .content-father .content-hijo {
            
            width: 87%;
            flex-direction: column;
            position: absolute;           
            text-align: center; 
            justify-content: center;
            padding-right: 2px;            
            
        }
        
         .content-father .content-hijo:first-child{
            
            margin-bottom: 30%;           
            margin: 10px;           
            vertical-align: middle;
             flex-direction: column;
             justify-content: center;
             padding-bottom: 4px;
        }
        
        /*.cards p{
            position: absolute;
            font-size: 1rem;
            margin: 0;
            padding: 0 1rem;
            vertical-align: middle;
        }*/
        
        .servicio-cont{
            justify-content: center;
            flex-direction: column;
            
        }
        .servicio-ind{
            width: 100%; 
            text-align: center;
             position: relative;
        }
        
        .servicio-ind:nth-child(1), ,servicio-ind:nth-child(2){
           margin-bottom: 60px; 
        }
        
        .servicio-ind img{
            width: 95%;
            
        }
        
        .servicio-ind p{
            position: absolute; 
        }
        
        /*footer*/
        .contenedor-footer{
            flex-direction: column;
            border: none;
            
        }
        
        .content-foo{
            margin-bottom: 20px;
            text-align: center;            
        }
        
        .content-foo h4{
            border: none; 
        }
        
         .content-foo p{
            color: #ccc;
            border-bottom: 1px solid #f2f2f2; 
            padding-bottom: 20px;
        }
        
        .titulo-final{
            font-size: 20px;
            
        } 
        

}


